:root {
    --black: #000000;
    --white: #ffffff;
    --basic-red: #ee3643;
    --dark-red: #ba2732;
    --basic-green: #63a63e;
    --basic-navy: #3d546f;
    --basic-darknavy: #293449;
    --special-dark: #161d29;
    --special-social: #212a3a;
    --special-nav: #1d2739;
    --special-darkblue: #32425C;
    --tab-shadow-blue: #405069;
    --basic-greylight: #c5c5c5;
    --basic-background: #f1f5f7;
    --basic-beige: #f9f5f0;
    --basic-light: #f3f5f9;
    --special-filter: #e5e5e5;
    --light-grey: #eaeaea;
    --filter-beige: #f7f3ec;
    --special-oldprice: #a9a9a9;
    --special-range-grey: #ababab;
    --pop-up-grey: #f4f4f4;
    --features-yellow: #ffbf47;
    --features-yellow-delivery: #ffc047;
    --footer-yellowlight: #ffd180;
    --features-blue: #3bbce3;
    --features-lilac: #dc91d8;
    --features-greenlight: #8ed78f;
    --special-buygreen: #367315;
    --special-buyclick: #518534;
    --button-hovergreen: #5fbb2d;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    color: var(--black);
    text-align: left;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Основное меню index*/
.main-header-nav .container {
    padding: 0 0 60px 0;
}

.site-navigation {
    margin: 0;
    padding: 0 25px 0 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #32425c;
    box-shadow: inset 0px -5px 0px #293449;
}

.nav-link {
    display: block;
    padding: 18px 24px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #293449;
}

.nav-link:active {
    background-color: #1d2739;
    opacity: 0.5;
}
/*Большие кнопки с услугами компании index*/
.site-group-first {
    background-color: #FFBF47;

    width: 300px;
    height: 123px;

    color: white;

    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.site-group-second {
    width: 300px;
    height: 123px;

    background-color: #3BBCE3;
    color: white;

    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.site-group-third {
    width: 300px;
    height: 123px;

    background-color: #DC91D8;
    color: white;

    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.site-group-fourth {
    width: 300px;
    height: 123px;

    background-color: #8ED78F;
    color: white;

    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.site-group-fifth {
    width: 300px;
    height: 123px;

    background-color: #FFC047;
    color: white;

    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.site-group-link {
    text-transform: uppercase;
    background-color: rgba(0,0,0,.1);

    width: 135px;
    height: 38px;

    mix-blend-mode: normal;
    opacity: 0.3;
    font-family: Cuprum;
    font-size: 14px;
    text-decoration: none;

    color: white;
    padding: 10px 0;
    margin: 23px;
}

.site-group-1 {
    width: 114px;
    height: 30px;
    padding-top: 20px;
    padding-left: 23px;                      
}

.image-group-icon-first {
    padding-left: 55px;
    position: absolute;
}

/*Карточки catalog*/
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: black;
    
    background: white;
}
  
.catalog-items {
    width: 700px;
    margin: 20px auto;
}

  .catalog-items .row {
    margin-left: -20px;
}
  
.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    
    border: 1px solid #ccc;}
  
.catalog-items {
    font-size: 0;
}
  
.catalog-item {
    font-size: 16px;
}
  
.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
  
.catalog-item .flag-new {
    background: url("img/new-flag.png") no-repeat 0 0;
}
  
.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
  
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;
    
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
  
.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
  
.catalog-item .actions {
    display: none;
}
  
.catalog-item:hover .actions {
    display: block;
}
  
.catalog-item .actions {
    display: none;
}
  
.catalog-item .image {
    width: 218px;
    height: 168px;
}
  
.catalog-item .image img {
    max-width: 100%;
}
  
.catalog-item .title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
}
  
.catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
    color: #999;
    text-decoration: line-through;
}
  
.catalog-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
  
.catalog-item .price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}  

.catalog-item .price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}

/*footer index & catalog*/
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Стили footer */
.footer-first-line {

  background-color: #32425c;
}

.footer-second-line {
  /* height: 107px; */

  background-color: #293449;
}

.footer-nav-pages,
.footer-catalog-pages,
.social-links {
  list-style: none;
  /*убираем маркеры у списков*/
}

.footer-first-line p,
.footer-first-line a {
  font-size: 18px;
  color: #f3f7f9;
}

.footer-nav-pages a {
  font-size: 18px;
  color: #f1f5f7;
}

.footer-catalog-pages a {
  font-size: 18px;
  color: #ffd180;
}

.footer-second-line {
  font-size: 16px;
  color: #ffffff;
}

.developer a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-nav-pages a:hover,
.footer-nav-pages a:focus,
.footer-catalog-pages a:hover,
.footer-catalog-pages a:focus,
.developer a:hover,
.developer a:focus {
  text-decoration: underline;
}

.developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
  background-color: #ee3643;
}

.footer-nav-pages li:active,
.footer-catalog-pages li:active {
  text-decoration: none;
  opacity: 0.5;
}
.footer-first-line p {
  position: absolute;
  top: 96px;
  left: 4px;

  width: 322px;

  margin: 0;

  line-height: 24px;
}

a.footer-logo,
p.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 220px;
  height: 68px;

  margin: 0;
  padding-bottom: 2px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

/* Построение сеток footer */
.footer {
  width: 100%;
  min-width: 940px;
}

.footer-anchor {
  position: relative;
}

.footer-nav-pages,
.footer-catalog-pages {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer-nav-pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

  max-width: 620px;
}

.footer-nav-pages li {
  margin-top: 40px;
  margin-left: 59px;
}

.footer-catalog-pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

  max-width: 600px;

  padding-bottom: 75px;
}

.footer-catalog-pages li {
  margin-top: 38px;
  margin-left: 59px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

.social-links li {
  margin-right: 3px;
  margin-top: 25px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  display: flex;

  width: 42px;
  height: 42px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-links svg {
  margin: auto;
}

.copyright {
  min-width: 230px;

  margin-top: 37px;
  padding-left: 2px;
  padding-right: 40px;
}

.copyright p {
  margin: 0;
}

.developer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 37px;
  padding: 0;
  padding-left: 2px;
}

.developer li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 39px;
  margin-right: 13px;
}

.developer li:first-child {
  margin-left: 0;
}

/*Желтые ссылки для FOOTER*/
.a-footer-yellow {
    color: #FFD180;
}

/*Белo-серые ссылки для FOOTER*/
.a-footer-white-grey {
    color: #F1F5F7;
}

/*Доставка и Сервисы index*/
.site-info-about-delivery {
    background-color: #F1F5F7;
    display: block;
    margin: 0 auto;
    width: 1200px;
}

.service-site-h2-1 {
    padding-top: 64px;
    padding-left: 130px;

    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;

    text-transform: uppercase;

    color: #000000;
}

.service-site-p1 {
    padding-left: 130px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    color: #000000;
}

.service-site-h2-2{
  padding-left: 450px;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425C;
}

.service-site-p2 {
padding-left: 450px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;

color: #000000;
}

.site-img-car {
  margin-left: 601px;
  margin-top: 89px;
}

/*Компании index*/
.companies {
    width: 700px;
    margin: 20px auto;
}
  
.companies .row-1 {
    margin-left: -20px;
}

.company-choice {
    position: relative;
    display: inline-block;
    width: 218px;

    margin-right: 20px;
    margin-bottom: 18px;
    line-height: 20px;

    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
}

.companies {
    font-size: 0;
}

.company-choice {
    font-size: 16px;
}

.company-choice .company-actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
   
.company-choice:hover {
    display: block;
}
      
.company-choice .image-company {
    width: 218px;
    height: 168px;
}
      
.catalog-item .image-company img {
    max-width: 100%;
}

/*Цвет окна бежевый 2 index*/
.bg-bej2 {
    background-color: #F9F5F0;

    width: 960px;
    height: 93px;

    margin: 0 auto;
    position: relative;
    display: flex;
}

.popular-items2 {
    padding-top: 8px;
    padding-left: 20px;

    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}

.link-popular-items2{
    background-color: #EE3643;
    color: white;

    margin-top: 30px;
    margin-left: 215px;
    margin-bottom: 30px;

    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    border: 1px solid #EE3643;

    padding-left: 18px;
    padding-top: 6px;
    padding-right: 18px;
}

/*Цвет окна бежевый 1*/
.bg-bej1 {
    background-color: #F9F5F0;

    width: 960px;
    height: 93px;

    margin: 0 auto;
    position: relative;
    display: flex;
}

.popular-items1 {
    padding-top: 8px;
    padding-left: 20px;

    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}

.link-popular-items1 {
    background-color: #EE3643;
    color: white;

    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 30px;

    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;


    border: 1px solid #EE3643;

    padding-left: 18px;
    padding-top: 6px;
    padding-right: 18px;
}

/*Картинка с перфоратором index*/
.site-fon-perforator-main-class {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 59px;
  height: 266px;

  background-image: url(Object.jpg);
  margin-left: 680px;
}
    
.site-fon-perforator {
  color: white;

  text-transform: uppercase;
  font-weight: bold;

  padding-top: 23px;
  padding-left: 24px;
}

.site-fon-toys {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
    
  color: white;

 margin-top: 20px;
  padding-left: 24px;
}

.site-link-perforator {
  background-color: #EE3643;
  color: white;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  border: 1px solid #EE3643;

  padding-left: 23px;
  padding-right: 23px;
  padding-top: 11px;
  padding-bottom: 9px;

    text-transform: uppercase;
}

.link-fon {
  margin-left: 24px;
  margin-top: 120px;
}

/*Кнопки с кредитом,доставкой,гарантией index*/
.site-button-all {
  
}

.site-button-ul {
  width: 240px;
  height: 61px;
  display: block;
}

.site-button-li {
  box-shadow: 0px 1px 0px #293449,
  inset 0px 1px 0px #405069;

  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 18px;

  background-color: #32425C;
}

.link-button {
  color: white;

  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.link-button:hover {
  background-color: white;
  color: #32425c;
}
