body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    text-align: left;
}
.main-header-nav .container {
    padding: 0 0 60px 0;
}

.site-navigation {
    margin: 0;
    padding: 0 25px 0 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0px #293449;
}

.nav-link {
    display: block;
    padding: 18px 24px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #293449;
}

.nav-link:active {
    background-color: #1d2739;
    opacity: 0,5;
}